<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Salvo!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/games.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="container">
<h1> Salvo Games</h1>

<div id="formularioLogin"> <!--w custom bootstrap buttons-->
    <form class="form-group" id="login-form" onsubmit="return false">
        <div v-if="user=='guest'">
            <label for="username"> Name: &nbsp; </label>  <input class="form-control" id="username" type="email" placeholder="Enter email" name="username" required >
            <label for="password"> Password: &nbsp; </label> <input class="form-control" id="password" type="password" placeholder="Password" name="password" required>


            <input type="submit" class="form-contro  submitbutton btn btn-info" name="login" value="Log In"> &nbsp;

            <input type="button" class="form-contro  sign-up-button btn btn-primary" name="singup" value="Sign Up">

        </div>
    </form>

</div>
<div> <!--boton se muestra solo cuando esta logueado-->
    <button class="btn btn-danger" id="logout" onclick="logOut()"> Log Out</button>
    <button class="btn btn-danger" id="creategame" onclick="createGame()"> Create Game</button>
</div>



<!--<table id="general-game-table" class="table table-hover">

</table> -->


<h2> Games </h2>
<div class="row" id="app">
    <section class="col-6">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">GAME ID</th>
                <th scope="col">PLAYER 1</th>
                <th scope="col">PLAYER 2</th>
                <th scope="col">GAME ACTIONS</th>
            </tr>
            </thead>

            <!--asi solo pinta el body, games.js, porque lo estatico no es necesario ("name", "total", "won", etc...)-->
            <tr v-for="x in games">
                <td id="id1">{{x.id}} </td>
                <td id="player1.1">{{x.gamePlayers[0].player.email}}</td>
                <td id="player1.2">{{x.gamePlayers[1].player.email}}</td>
                <td v-if="user !='guest'&& x.gamePlayers.length == 1 && user.email != x.gamePlayers[0].player.email"><button class="joingame" onclick="joinGame()"> Join Game</button></td>

                </td>
            </tr>

        </table>
    </section>
</div>


<h2> Leaderboard </h2>
<div class="row">
    <section class="col-6">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Total</th>
                <th scope="col">Won</th>
                <th scope="col">Lost</th>
                <th scope="col">Tied</th>
            </tr>
            </thead>
            <tbody id="game-table">
            <!--asi solo pinta el body, games.js, porque lo estatico no es necesario ("name", "total", "won", etc...)-->
            <tr>
                <td id="na1"></td>
                <td id="to1"></td>
                <td id="wo1"></td>
                <td id="lo1"></td>
                <td id="ti1"></td>
            </tr>
            <tr>
                <td id="na2"></td>
                <td id="to2"></td>
                <td id="wo2"></td>
                <td id="lo2"></td>
                <td id="ti2"></td>
            </tr>
            <tr>
                <td id="na3"></td>
                <td id="to3"></td>
                <td id="wo3"></td>
                <td id="lo3"></td>
                <td id="ti3"></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>





<script src="js/popper.min.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/games.js"></script>
</body>
</html>